body {
    width: 960px;
    background: #cccccc;
    
}
.header {
    position: sticky;
    color: teal;
    height: 80px;
}
.nav {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
   background-color: #ffffff;
   width: 960px;
   
} 
#name {
    background: #4aaaa5;
    color: #ffffff;
   height: 80px;
}

.container {
    border-color: #cccccc;
    height: 800px;
}
